html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0px;
    padding:0px;
}

a {
    color:#4f4fff;
}

#main {
    justify-content: center;
}

#root {
    padding-top: 5em;
}

#head-rightside-container {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 0.5em;
    margin-right: 0.5em;
}

#head {
    position:fixed;
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0.5em;
    border-style: none none solid none;
    border-width: 3px;
    border-color: rgb(39, 39, 39);
    background-color: white ;
    box-shadow: 0px 5px 15px 1px #00000080;
}

#head-content {
    margin-right: 0.8em;
}

.svg-social-icon {
    width: 1.4em;
    height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: grab;
}

.pseudo-button {
    cursor: grab;
}